body {
      margin:0;
      font-family: Arial, Helvetica, sans-serif;
    }
    .notification-bar {
      background-color: yellow;
      color: black;
    }
    
    .check-now-btn{
      background-color: red;
      color: white;
      border: none;
      border-radius: 5px;

    }

    .navbar{
      
      background-color: grey;

    }
    
    .nav-links{
      list-style: none;
      display: flex;
      
      
    }